# MongoDB 
MONGODB_URI=

# Redis (e.g. redis://default:password@redis-12345.c12.us-east-1-9.ec2.redns.redis-cloud.com:12345 or redis://localhost:6379)
REDIS_URL=redis://localhost:6379
REDIS_QUEUE_NAME=resumarq:jobs

# Better-Auth Config
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Public URLs (accessible in browser)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Resend Email Service (https://resend.com)
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

# Recruiter Demo Access
RECRUITER_TOKEN=
